.App-header {
  text-align: center;
  padding: 20px;
  background-color: #00274d;
  color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Slider */
.slider-container {
  margin: 20px 0;
}

.slider {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.slider-button {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s ease;
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.slider-button:hover {
  background-color: #e6e6e6;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.slider-button.active {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

/* Chart Container */
.chart-container {
  margin: 20px 0;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Data Table */
.data-table-container {
  margin-top: 30px;
}

.data-table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 90%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.data-table th,
.data-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
  color: #000000;
}

.data-table th {
  background-color: #0056b3;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.data-table tr:nth-child(even) {
  background-color: #f7f9fc;
}

.data-table tr:nth-child(odd) {
  background-color: #ffffff;
}

.data-table tr:hover {
  background-color: #d6e9ff;
  cursor: pointer;
}

/* Statistics Cards */
.stats-container,
.daily-stats-grid {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px; 
  justify-content: center; 
  margin: 20px 0;
}

.stats-card {
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  width: 250px; 
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  color: #000000;
}

.stats-card:hover {
  background-color: #d6e9ff;
  transform: translateY(-5px); 
}

.stats-card h4 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

.stats-card p {
  margin: 5px 0;
  font-size: 14px;
  color: #555;
}

/* Center  Daily Statistics */
.daily-stats-grid {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px; 
  justify-content: center; 
  margin: 20px 0; 
}

/* Responsive Design */
@media (max-width: 768px) {
  .slider {
    flex-wrap: wrap; 
    gap: 10px;
  }

  .data-table {
    width: 100%; 
  }

  .stats-card {
    width: 90%; 
  }

  .daily-stats-grid {
    flex-direction: column; 
    align-items: center; 
  }
}
